<mat-card>
  <mat-card-content>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="create-form">
      <h2>New Snippet</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required minlength="3">
        <mat-error>
          Please provide a valid name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Code snippet</mat-label>
        <textarea matInput formControlName="code" required minlength="10"></textarea>
        <mat-error>
          Please provide a valid code snippet
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="true" [removable]="true" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..." #tagInput [formControl]="this.tagCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="this.chipList" [matChipInputSeparatorKeyCodes]="this.separatorKeysCodes"
            (matChipInputTokenEnd)="this.add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br />
      <mat-error *ngIf="this.error">{{this.error}}</mat-error>
      <br />
      <button mat-raised-button color="primary">Create</button>
    </form>
  </mat-card-content>
</mat-card>
